{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
    <header>
        {{> back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Registro</h1>

        <div class="form">
            <div class="form__item">
                {{> field action="signupForm.change" label="Email" type="email" name="email" placeholder="Escribir
                email" }}
                <span name="email" class="form__error">Error</span>
            </div>
            <div class="form__item">
                {{> field-password action="signupForm.change" label="Contraseña" name="password" placeholder="Escribir
                contraseña
                " }}
                <span name="password" class="form__error">Error</span>
            </div>
            <div class="form__item">
                {{> field-password action="signupForm.change" label="Contraseña" name="passwordAgain"
                placeholder="Escribir contraseña otra vez" }}
                <span name="passwordAgain" class="form__error">Error</span>
            </div>
            <div class="form__item">
                {{> field-select action="signupForm.change" label="Usuario" name="role" placeholder="Escoger usuario"
                list=data.role }}
                <span name="role" class="form__error">Error</span>
            </div>
            <div class="form__item">
                {{> field-checkbox action="signupForm.change" label="Estoy de acuerdo con la politica de la web"
                name="isConfirm" }}
                <span name="isConfirm" class="form__error">Error</span>
            </div>
        </div>

        <button onclick="signupForm.submit()" class="button button--disabled" type="button">Registro</button>

        <span class="alert alert--disabled">Atencion! Error</span>

    </form>
</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}